.home-bg {
    background-image: url(../assets/pokeball.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: var(--pkm-home-container-height);
}

.home-bg>h1 {
    color: var(--pkm-text-color);
    font-size: 3em;
}