.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: scale(0.8, 0.8) rotate(0deg);
    }

    100% {
        transform: scale(0.8, 0.8) rotate(360deg);
    }
}